/*  your css code here. If applicable */
 .middle {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 1px;
 }

 .middle td, .middle th {
    border: 1px solid black;
    padding: 1px;
 }

 .green {
    background-color: green;
 }

 .blue {
    background-color: blue;
 }

 .center {
    text-align: center;
 }

 .right {
    text-align: right;
 }